*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: Red Hat Text;
}

h1{
  font-weight: 700;
  color: color/rose-900;

  margin-top: 24px;
  margin-left: 24px;
  margin-bottom: 32px;
}